Backtesting==0.3.1
bcrypt==3.2.0
bokeh==2.3.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
dnspython==2.1.0
Flask==2.0.1
Flask-PyMongo==2.3.0
gevent==21.1.2
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mongoengine==0.23.1
numpy==1.21.0
packaging==20.9
pandas==1.2.5
Pillow==8.3.0
pycparser==2.20
pymongo==3.11.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.18.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
ta==0.7.0
telegram==0.0.1
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.6
websocket==0.2.1
websocket-client==1.1.0
Werkzeug==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
